<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>

<body>

{% include "./navbar.html" %}

<div class="mt-5 p-4 border border-secondary rounded" style="margin:auto; width: 25em; padding:auto;">
    <form id="form" action="{% url 'djangoapp:add_review' dealerId %}" method="post">
        {% csrf_token %}
        <h1>Submit Review</h1>
        <hr>
    
        <div class="form-group">
            <label for="name"><b>Name</b></label>
            <input name="reviewer_name" type="text" class="form-control" id="name" placeholder="Enter your name" required>
        </div>
        
        <div class="form-group">
            <label for="car"><b>Car model</b></label>
            <select name="car" id="car" class="form-select rounded" value="" required>
                <option selected value=""></option>
                {% for car in cars %}
                    <option value={{car.id}}>{{car.model}}, {{car.car_make}}, {{car.year}}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="purchased">
            <label class="form-check-label" for="purchased"><b>Have you purchased the car?</b></label>
        </div>

        <br>
    
        <div class="form-group">
            <label for="purchasedate"><b>Purchase date</b></label>
            <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate" placeholder="mm/dd/yyyy">
        </div>
    
        <div class="form-group">
            <label for="content"><b>Review content</b></label>
            <textarea name="review" class="form-control" id="content" rows="2" required></textarea>
        </div>
    
        <button class="btn btn-primary btn-block mt-3" type="submit">Submit</button>
    </form>
</div>

</body>

</html>