<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Reviews</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

   
<body>
    
{% include "./navbar.html" %}

{% if user.is_authenticated %}
<a class="btn btn-primary mt-2 ml-2" href="{% url 'djangoapp:add_review' dealerId %}">Submit your review</a>
{% endif %}

{% if message %}
<h2 class="mt-3 ml-2">No reviews found for this dealership.</h2>
{% else %}
<div class="card-columns m-3">
    {%for review in reviews %}
    <div class="card" style="width: 20rem;">
        <img class="m-1" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png"width="40px" height="40px"/>
        <div class="card-header">
            <div class="card-body">
                <h3 class="card-title">{{review.car_model}}, {{review.car_make}}</h3>
                <h4 class="card-title">{{review.car_year}}</h4>
                <p class="card-text">{{review.review}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}




</body>

</html>