<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

{% include "./navbar.html" %}

<form action="{% url 'djangoapp:registration' %}" method="post">
    {% csrf_token %}
    <div class="mt-5 p-4 border border-secondary rounded" style="margin:auto; width: 20em; padding:auto;"> 
        <h1>Sign Up</h1>
        <hr>
        <div class="form-group"> 
            <label for="username"><b>Username</b></label>
            <input type="text" class="form-control mb-2" placeholder="Define a username" name="username" required>
            <label for="firstname"><b>First Name</b></label>
            <input type="text" class="form-control mb-2" placeholder="Enter your first name" name="firstname" required> 
            <label for="lastname"><b>Last Name</b></label>
            <input type="text" class="form-control mb-2" placeholder="Enter your last name" name="lastname" required> 
            <label for="psw"><b>Password</b></label>
            <input type="password" class="form-control mb-2" placeholder="Define a password" name="psw" required> 
            {% if message %}
            <div class="alert alert-warning"> 
                {{ message }}
            </div>
            {% endif %}
            <button class="btn btn-primary btn-block mt-3" type="submit">Sign up</button> 
        </div>
    </div>
</form>

</body>