<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

{% include "./navbar.html" %}

<form action="{% url 'djangoapp:login' %}" method="post">
    {% csrf_token %}
    <div class="mt-5 p-4 border border-secondary rounded" style="margin:auto; width: 20em; padding:auto;"> 
        <h1>Login</h1>
        <hr>
        <div class="form-group"> 
            <label for="username"><b>Username</b></label>
            <input id="username" class = "form-control mb-2" type="text" placeholder="Enter your username" name="username" required>
            <label for="psw"><b>Password</b></label>
            <input id="psw" class = "form-control mb-2" type="password"  placeholder="Enter your password" name="psw" required> 
        </div>
        {% if message %}
            <div class="alert alert-warning"> 
            {{ message }}
            </div>
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">Login</button> 
    </div>
</form>

</body>